body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.array-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bar {
    width: 20px;
    margin: 0 2px;
    background-color: dodgerblue;
    display: inline-block;
}